.navbar {
  display: flex;
  justify-content: space-between;
  background: #1f2937;
  color: white;
  padding: 15px 30px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links a {
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #38bdf8;
}

.container {
  padding: 20px 40px;
}