body {
    background-color: #1e1e1e !important;
}

.swagger-ui {
    background-color: #1e1e1e !important;
    color: white !important;
}

.swagger-ui .topbar {
    background-color: #111 !important;
}

.swagger-ui .info {
    color: white !important;
}

.swagger-ui .opblock {
    background-color: #2b2b2b !important;
}

.swagger-ui .opblock-summary {
    background-color: #333 !important;
}