@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Jecrc ka adda<br />
        Sitapura, WA 98052-6399<br />
        <abbr title="Phone">P: 7023805470</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:AkshatSharma@example.com">Marketing@example.com</a>
    </address>
</main>